<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.unity.ble">

    <!-- Bluetooth permissions for Android 12 (API 31) and above -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
    />
    <!-- Communicates with already-paired Bluetooth devices -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>

    <!-- Legacy Bluetooth permissions for Android 11 (API 30) and below -->
    <uses-permission android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30"
    />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30"
    />

    <!-- For Android10-11, Location permission required for BLE scanning -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- Declare that the app uses Bluetooth LE -->
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false" />

</manifest>